/* 基础样式 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* #start 部分 */
#start {
    width: 100vw;
    height: 100vh;
    background: url(./imgs/1.jpeg) center center / cover no-repeat;
    filter: grayscale(0%);
    transition: all 1s;
}

/* .mid 部分 */
.mid {
    width: 100vw;
    text-align: center;
}

/* 名字样式 */
.name, .name-real {
    position: absolute;
    font-family: Helvetica;
    font-size: 120px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -10%);
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    padding: 20px;
    line-height: 130px;
}

.name-real {
    filter: blur(10px);
}

/* .about-me 部分 */
.about-me {
    width: 70vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 标题样式 */
.title {
    margin-top: 50px;
    font-size: 30px;
}

.title span {
    color: #8de8fa;
}

.dots {
    font-size: 30px;
}

.dots span {
    color: #ffafbd;
}

/* 图标样式 */
.icon, .icon-2, .icon-3, .icon-4, .icon-5, .icon-6, .icon-7, .icon-8, .icon-9 {
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-5 {
    height: 400px;
    width: 500px;
}

/* 容器样式 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.edu {
    font-size: 30px;
    margin-top: 3vh;
    color: #ff9fd2;
    text-align: center;
}

.main {
    margin-top: 3vh;
    width: 200px;
    height: 200px;
    font-size: 20px;
    text-align: center;
}

.main-about {
    width: 300px;
    text-align: left;
    font-size: 20px;
}

.main-about div {
    margin-top: 20px;
}

.container-item {
    margin: 40px;
    align-self: center;
}

/* 工作经验部分 */
.part-job {
    height: 100vh;
}

.img-com {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.job-job {
    font-size: 3vh;
    width: 30vw;
}

.img-com img {
    width: 30vw;
    height: 40vh;
    margin: 2vh;
    box-shadow: 4px 0px 4px #666;
    border-radius: 10px;
}

/* 导航栏样式 */
.banner {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    height: 10vh;
    z-index: 99;
    box-shadow: 10px 1px 50px 0px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-tool {
    margin: 0 5vw;
    font-size: 2vw;
    font-family: Helvetica;
}

.icon-tool:hover {
    font-size: 3vw;
}

/* 响应式设计 */
@media (max-width: 768px) {
    .name, .name-real {
        font-size: 60px; /* 减小字体大小 */
        top: 10%; /* 调整位置 */
    }
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

